{% extends 'base.html' %}

{% block block_element %}
        <div class="cybergreen">
        <a href="../.." class="cybergreen nb_align-left"> back </a>
    </div>
{% endblock %}

{% block block_info %}
    <h1> Repeat may refer to: </h1>
    <p>1. A rerun in broadcasting</p>
    <p>2. The unit of pattern in a wallpaper, for example every 24 inches of a roll</p>
    <p>3. A repeat until loop in the Pascal programming language</p>
    <p>4. An artillery procedure word to repeat a previous fire mission, replaced with the phrase "say again" in military radio procedure</p>
{% endblock %}